@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Turret+Road:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');



.sidebar {
  position: relative;
  width: 350px;
  height: 170vh;
  background: #04C4D9;
  }

.nav {
  position: relative;
  margin: 0 15%;
  text-align: center;
  top: 2%;
  font-weight: bold;
}

  
nav{
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: large;

}

.bar{
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
    margin: 0; padding: 0px;
    border-bottom: 1px solid #CCC;
    list-style-type: none;

}

.nav p{
    margin: 0; padding: 0px;
    border-bottom: 1px solid #CCC;
    text-align: center;
    list-style-type: none;
 }

.nav a:link {
    background: #04C4D9;;;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: list-item;
    }

body {
background: rgb(250,188,0);
background: linear-gradient(180deg, rgba(250,188,0,1) 0%, rgba(201,0,255,1) 100%);
font-family: 'Comfortaa', cursive;
color: #2F4F4F;
}

#conteudo{
    width: 30%;
    height: 100%;
    float: left;
    
}
#menu {
		width: 97%;
		margin: 0; padding: 0;
		float: center;
}

#menu a:hover {
		background: #E5F0FF;
		color: #039;
		}

#logo {
    
    max-width: 15%;
    max-height: 15%;
    position: relative;
    left: 80px;
    top: 1px; 
}

h1 {
    font-family: 'Turret Road', cursive;
    color: white;
    text-align: left;
    font-size: 350%;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    text-align: left;

}



p{
font-weight:bolder;
color: white;
text-align: justify;

  
}

#intro{
    font-weight: bolder;
    margin-left: 50px;
    margin-right: 150px;
   color: white;
   text-align: justify;
}

.win1{
  background-color: #7B15BF;;
  font-weight: bolder;
  margin-left: 400px;
  margin-right: 150px;
  color: white;
}

.win2{
  background-color: #435AD9;
  color: white;
  font-weight: bolder;
  margin-left: 400px;
  margin-right: 150px;
}

.win3{
  background-color:	#ff71ce;
  color: white;
  font-weight: bolder;
  margin-left: 400px;
  margin-right: 150px
  
}

.winp{
    color: white;
}

.win4{
    background-color: #00A1F1;
    color: white;
    font-weight: bolder;
    margin-left: 400px;
    margin-right: 150px
}

   

#rodape{
    font-family: 'Comfortaa', cursive;
    color: black;
    text-align: center;
}

/* Color Theme Swatches in Hex */
.Vaporwave--1-hex { color: #A6039B; }
.Vaporwave--2-hex { color: #7B15BF; }
.Vaporwave--3-hex { color: #435AD9; }
.Vaporwave--4-hex { color: #0077D5; }
.Vaporwave--5-hex { color: #04C4D9; }
.color {color: 	#fffb96}

